{{- $email := promptStringOnce . "email" "Email address" "ivorisoutdoors@users.noreply.github.com" -}}
{{- $signingKey := promptStringOnce . "signingKey" "Git signing key" -}}
{{- $purpose := promptChoiceOnce . "purpose" "What is the purpose of this machine" (list "Base" "Personal" "Work") -}}

[data]
  email = {{ $email | quote }}
  signingKey = {{ $signingKey | quote }}
  purpose = {{ $purpose | quote }}
[edit]
  command = "zed"
