{{- $email := promptStringOnce . "email" "Email address" -}}
{{- $signingKey := promptStringOnce . "signingKey" "Git signing key" "~/.ssh/id_ed25519_sk.pub" -}}
{{- $purpose := promptChoiceOnce . "purpose" "What is the purpose of this machine" (list "Base" "Personal" "Work") -}}

[data]
  email = {{ $email | quote }}
  signingKey = {{ $signingKey | quote }}
  purpose = {{ $purpose | quote }}
[edit]
  command = "zed"
