cask_args appdir: "/Applications"

tap "homebrew/bundle"

brew "ack"
brew "aspell"
brew "bat"
brew "broot"
brew "chezmoi"
brew "coreutils"
brew "direnv"
brew "diskonaut"
brew "duf"
brew "dust"
brew "eza"
brew "fd"
brew "fish"
brew "fisher"
brew "fzf"
brew "gh"
brew "git"
brew "git-delta"
brew "git-lfs"
brew "gron"
brew "gum"
brew "httpie"
brew "jq"
brew "lesspipe"
brew "m-cli"
brew "mas"
brew "procs"
brew "proto"
brew "reattach-to-user-namespace"
brew "readline"
brew "ripgrep"
brew "sd"
brew "starship"
brew "the_silver_searcher"
brew "tldr"
brew "vim"
brew "wget"
brew "yq"

cask "1password"
cask "1password-cli"
cask "aldente"
cask "firefox"
cask "gpg-suite-no-mail"
cask "tailscale-app"
cask "yubico-authenticator"
cask "zen"

{{ if ne .purpose "Base" -}}
# Code/dev
brew "go"
brew "go-task"
brew "golangci-lint"
brew "hadolint"
brew "hugo"
brew "mkcert"
brew "nss"
brew "pre-commit"
brew "shellcheck"

cask "docker-desktop"
cask "ghostty"
cask "zed"

# Language servers
brew "golangci-lint-langserver"
brew "terraform-ls"

# Fonts
cask "font-fira-code-nerd-font"
cask "font-maple-mono-nf"

# Meetings
cask "elgato-camera-hub"
cask "elgato-control-center"
cask "elgato-stream-deck"
cask "elgato-wave-link"

# App Store
mas "1Password for Safari", id: 1569813296
mas "Affinity Photo 2", id: 1616822987
mas "Kagi for Safari", id: 1622835804
mas "Keynote", id: 409183694
mas "Numbers", id: 409203825
mas "Pages", id: 409201541
{{- end }}

{{ if eq .purpose "Work" -}}
# Work
tap "hashicorp/tap"

brew "act"
brew "actionlint"
brew "awscli"
brew "chart-testing"
brew "conftest"
brew "cosign"
brew "dotenv-linter"
brew "goreleaser"
brew "helm"
brew "mockery"
brew "opa"
brew "terraform-docs"
brew "tflint"
brew "trivy"

brew "hashicorp/tap/packer"
brew "hashicorp/tap/terraform"

cask "notion"
cask "slack"
cask "tuple"
cask "zoom"
{{ else if eq .purpose "Personal" -}}
# Personal
cask "bambu-studio"
cask "Discord"
cask "guitar-pro"
cask "obsidian"

mas "Logic Pro", id: 634148309
{{- end }}

localbrew = "#{Dir.home}/.Brewfile.local"
instance_eval(File.read(localbrew)) if File.exist?(localbrew)
